.GatheringList {
  padding-left: 2em;
  margin: 0;
  list-style: none;
}

.GatheringList__item + .GatheringList__item {
  margin-top: 0.5em;
}

.GatheringList__item {
  position: relative;
  display: flex;
}

.GatheringList__item::before {
  content: attr(data-index);
  font-size: 2em;
  position: absolute;
  right: 100%;
  margin-right: 0.75ch;
  top: 0.05em;
  line-height: 0.6;
  width: 1ch;
  font-family: monospace;
}

.GatheringList__item ul {
  list-style: none;
}

.GatheringList__item > :last-child {
  margin-left: auto;
}
