.LandingPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.LandingPage__main {
  flex: 1;
}

.LandingPage .Footer {
  padding: 1em 3em;
  background: rgb(0 21 41);
  color: white;
}

@media (max-width: 767px) {
  .LandingPage .Footer {
    padding: 1em;
  }
}
