.LandingNav {
  --ant-layout-header-height: 3em;
  --ant-layout-header-padding: 0 50px;
  --ant-layout-header-bg: rgb(0 21 41);
}

@media (max-width: 767px) {
  .LandingNav {
    --ant-layout-header-padding: 0 25px;
  }
}
