.FAQ .Layout__content ul:first-child {
  columns: 20em;
  margin-bottom: 3em;
}

.FAQ .Layout__content {
  max-width: 100ch;
}

.FAQ .Layout__content h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.FAQ .Layout__content h2:target {
  scroll-margin-top: 3em;
}

.FAQ .Layout__content :where(p, li) {
  font-size: 1.25em;
  line-height: 1.5;
  hyphens: auto;
}

.FAQ .Layout__content p {
  margin-bottom: 1em;
}

.FAQ .Layout__content li {
  margin-bottom: 0.5em;
}

.FAQ .Layout__content :where(ol, ul) {
  padding-left: 1.25em;
}
