.VillageSummary__list {
  padding-left: 2rem;
}

.VillageSummary__item {
  margin-bottom: 1rem;
}

.VillageSummary__container {
  display: flex;
}

.VillageSummary__container > :first-child {
  margin-right: auto;
}