.VillageSummary__list {
  padding-left: 2em;
}

.VillageSummary__item {
  margin-bottom: 1em;
}

.VillageSummary__container {
  display: flex;
}

.VillageSummary__container > :first-child {
  margin-right: auto;
}
