.MapCover {
  &[data-biome="fieldSea"] {
    --position: center 68%;
    --from: 0;
    --to: 100;
  }

  &[data-biome="silentDesert"] {
    --position: center 100%;
    --from: 50;
    --to: 100;
  }

  &[data-biome="floodedPlains"] {
    --position: center 100%;
    --from: 100;
    --to: 50;
  }

  &[data-biome="shadowForest"] {
    --position: center 70%;
    --from: 100;
    --to: 0;
  }

  &[data-biome="mushroomJungle"] {
    --position: center 95%;
    --from: 95;
    --to: 45;
  }
}

.MapCover__link {
  font-weight: bold;
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease;
}

.MapCover__link:hover,
.MapCover__link:focus {
  color: inherit;
  border-bottom-color: var(--biome-light);
}

.MapCover__link--in-text {
  color: var(--prome-muted);
  font-style: normal;
}
