.MapLegend {
  list-style: none;
}

.MapLegend li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.MapLegend li:has([data-biome="prairieSea"]) {
  --pattern-size: 20px;
}
.MapLegend li:has([data-biome="titanGarden"]) {
  --pattern-size: 15px;
}
.MapLegend li:has([data-biome="shadowWoods"]) {
  --pattern-size: 15px;
}
.MapLegend li:has([data-biome="sunkenSavannah"]) {
  --pattern-size: 10px;
}
.MapLegend li:has([data-biome="silentWastes"]) {
  --pattern-size: 10px;
}
.MapLegend li:has([data-biome="mushroomJungle"]) {
  --pattern-size: 5px;
}
