.MapLegend {
  list-style: none;
}

.MapLegend li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.MapLegend li:has([data-biome="fieldSea"]) {
  --pattern-size: 20px;
}
.MapLegend li:has([data-biome="titanGardens"]) {
  --pattern-size: 15px;
}
.MapLegend li:has([data-biome="shadowForest"]) {
  --pattern-size: 15px;
}
.MapLegend li:has([data-biome="floodedPlains"]) {
  --pattern-size: 10px;
}
.MapLegend li:has([data-biome="silentDesert"]) {
  --pattern-size: 10px;
}
.MapLegend li:has([data-biome="mushroomJungle"]) {
  --pattern-size: 5px;
}
