/**
 * 1. Position context for absolutely positioned children elements.
 * 2. Set the width of the cell to the size of the grid cell.
 * 3. Give the element a hexagonal shape.
 * 4. Squeeze the cells back into a tight grid.
 * 5. Prevent selection the cell content when double-clicking it.
 * 6. Give the cell a little depth by adding an inner shade.
 * 7. Center the cell in the viewport when it is targeted by a hash link.
 */
.MapCell {
  position: relative; /* 1 */
  width: var(--size); /* 2 */
  aspect-ratio: cos(30deg); /* 3 */
  border-radius: 50% / 25%; /* 3 */
  corner-shape: bevel; /* 3 */
  margin-bottom: calc(var(--size) / (-4 * cos(30deg))); /* 4 */

  user-select: none; /* 5 */
  will-change: outline, opacity;

  box-shadow: inset 0 0 1.25em var(--biome-dark); /* 6 */
  border: 1px solid var(--biome-dark);
  background-color: var(--biome-light);
  color: var(--biome-light-contrast);
  transition: 0.25s ease-in-out;

  scroll-margin-top: 50vh; /* 7 */
}

@supports not ((corner-shape: bevel) and (aspect-ratio: cos(30deg))) {
  /**
   * 1. Just for testing purposes: drop the ‘not’ in this @supports rule to see
   *    how it lookswith it.
   * 2. This is a magic number: there is a formula to calculate that value but
   *    I don’t know it and it’s probably not worth the effort to figure it out.
   */
  .MapCell {
    corner-shape: unset; /* 1 */
    border-radius: 50%;
    margin-bottom: -0.75em; /* 2 */
    aspect-ratio: 1;
  }
}

/**
 * 1. Highlight the current cell with an *inner* ring. Note: it collides with
 *    the *selected* cell, but it’s okay and intended this way.
 */
.MapCell[data-current="true"] {
  outline: 2px solid white; /* 1 */
  outline-offset: -5px; /* 1 */
}

/**
 * 1. Highlight the selected cell with an *outer* ring. Note: it collides with
 *    the *current* cell, but it’s okay and intended this way.
 * 2. Because the selected cell uses an *outer* ring, make sure it is on top of
 *    the other cells.
 */
.MapCell[data-selected="true"],
.MapCell:focus-within {
  outline: 3px solid #722ed1; /* 1 */
  outline-offset: 3px; /* 1 */
  z-index: 2; /* 2 */

  & .MapCell__Button {
    outline: none;
  }
}

/**
 * 1. Make the cell a bit transparent when it's not reachable. This gives the
 *    surrounding (and thus reachable) cells a bit more visual prominence.
 */
.MapCell[data-reachable="false"]:not([data-current="true"]) {
  opacity: 0.5; /* 1 */
}

/**
 * 1. Guarantee a consistent and predictable stacking order for the elements.
 */
.MapCell__JournalCount {
  z-index: 1; /* 1 */
}
.MapCell__Button {
  z-index: 2; /* 1 */
}
.MapCell__Icon {
  z-index: 3; /* 1 */
}

/**
 * 1. Make the icon cover the whole cell.
 * 2. Position the icon in the center of the cell.
 * 3. Make sure the icon, which is sitting *above* the button (to cover its text)
 *    does not prevent the button from being clicked.
 */
.MapCell__Icon {
  position: absolute; /* 1 */
  inset: 0; /* 1 */
  display: flex; /* 2 */
  align-items: center; /* 2 */
  justify-content: center; /* 2 */
  font-size: 250%;
  pointer-events: none; /* 3 */
}

.MapCell__JournalCount {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  padding: 0 0.5em;
  border-radius: 50%;
  background-color: var(--biome-dark);
  color: white;
  font-size: 0.7em;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}

/**
 * 1. Make the button cover the whole cell.
 * 2. Center the content of the button within it.
 */
.MapCell__Button {
  position: absolute; /* 1 */
  inset: 0; /* 1 */

  display: flex; /* 2 */
  align-items: center; /* 2 */
  justify-content: center; /* 2 */

  font: inherit;
  font-weight: bold;
  font-family: monospace;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.1em;
  color: inherit;

  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;

  opacity: 0.25;
  user-select: none;
  transition: inherit;
}

/**
 * 1. Smoothly animate the status ring as it goes in and out.
 */
.MapCell__Status {
  transition: inherit; /* 1 */
}

/**
 * 1. Make clickable buttons look clickable.
 */
.MapCell__Button:not(:disabled) {
  cursor: pointer;
} /* 1 */
.MapCell__Button:not(:disabled):hover {
  transform: scale(1.15);
} /* 1 */

.MapCell[data-pattern="true"][data-biome="prairieSea"] {
  --pattern-size: 30px;
}
.MapCell[data-pattern="true"][data-biome="titanGarden"] {
  --pattern-size: 40px;
}
.MapCell[data-pattern="true"][data-biome="shadowWoods"] {
  --pattern-size: 25px;
}
.MapCell[data-pattern="true"][data-biome="sunkenSavanna"] {
  --pattern-size: 20px;
}
.MapCell[data-pattern="true"][data-biome="silentWastes"] {
  --pattern-size: 15px;
}
.MapCell[data-pattern="true"][data-biome="mushroomJungle"] {
  --pattern-size: 10px;
}
