.Logo {
  color: inherit;
  letter-spacing: 0.05em;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 700;
  flex-shrink: 0;
}

.Logo__hex {
  display: inline-block;
  transform: scale(1.4) translate(-1px, -1px);
  position: relative;
  line-height: 1;
}
