.MapHex {
  position: relative;
  width: var(--size);
  aspect-ratio: cos(30deg);
  border-radius: 50% / 25%;
  corner-shape: bevel;
  margin-bottom: calc(var(--size) / (-4 * cos(30deg)));
  /**
   * We actually do not need to apply a left margin. This is only necessary when
   * the grid is not pre-divided into rows. Since we have individual rows, we 
   * already offset one row out of two by half an hex.
  --_n: round(down, (100cqw + var(--gap)) / (var(--size) + var(--gap)));
  --_m: round(down, (100cqw - (var(--size) - var(--gap)) / 2) / (var(--size) + var(--gap)));
  --_c: round(down, 1 - mod((sibling-index() - 1 + var(--_m)) / (var(--_n) + var(--_m)), 1));
  margin-left: calc(var(--_c) * (var(--size) + var(--gap)) / 2);
  */

  display: grid;
  place-content: center;
  border: 1px solid var(--biome-dark);
  box-sizing: border-box;
  transition: 0.1s ease-in-out;

  background-color: var(--biome-light);
  color: var(--biome-light-contrast);

  box-shadow: inset 0 0 20px var(--biome-dark);
  user-select: none;
  overflow: hidden;

  transition: 0.2s ease-in-out;
}

@supports not ((corner-shape: bevel) and (aspect-ratio: cos(30deg))) {
  /**
   * 1. Just for testing purposes: drop the ‘not’ in this @supports rule to see
   *    how it lookswith it.
   */
  .MapHex {
    corner-shape: unset; /* 1 */
    border-radius: 50%;
    margin-bottom: -10px;
    aspect-ratio: 1;
  }
}

.MapHex[data-current="true"] {
  outline: 3px solid white;
  outline-offset: -5px;
}

.MapHex[data-reachable="true"] {
}

.MapHex[data-reachable="false"]:not([data-current="true"]) {
  opacity: 0.7;
}

.MapHex[data-selected="true"] {
  outline: 3px solid #722ed1;
  outline-offset: 3px;
  z-index: 2;
  position: relative;
}

.MapHex__Icon {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  font-size: 250%;
  z-index: 1;
  pointer-events: none;
}

.MapHex__JournalCount {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  padding: 0 5px;
  border-radius: 50%;
  background-color: var(--biome-dark);
  color: #fff;
  font-size: max(10px, 0.62em);
  font-weight: 600;
  font-variant-numeric: tabular-nums;
  z-index: 1;
}

.MapHex__Button {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.25;
  appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: monospace;
  font-variant-numeric: tabular-nums;
  transition: transform 0.1s ease-in-out;
  user-select: none;
}

.MapHex__Button:not(:disabled) {
  cursor: pointer;
}

.MapHex:hover .MapHex__Button:not(:disabled) {
  transform: scale(1.15); 
}

.MapHex__background {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

[data-biome="fieldSea"]        .MapHex__background { --pattern-size: 10px }
[data-biome="giganticGardens"] .MapHex__background { --pattern-size: 40px }
[data-biome="shadowForest"]    .MapHex__background { --pattern-size: 15px }
[data-biome="floodedPlains"]   .MapHex__background { --pattern-size: 20px }
[data-biome="silentDesert"]    .MapHex__background { --pattern-size: 15px }
[data-biome="mushroomJungle"]  .MapHex__background { --pattern-size: 10px }