/**
 * https://frontendmasters.com/blog/how-to-create-a-css-only-elastic-text-effect/
 */

.ClockDisplayContainer {
  position: relative;
}

.ClockDisplay {
  max-width: 280px;
  display: block;
  margin: auto;
}

.ClockDisplayLabel:first-child {
  position: absolute;
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}

.ClockDisplayLabel:last-child {
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
}

@property --direction {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

.ClockDisplayLabel {
  --curve-intensity: 30px;

  color: rgb(0 0 0 / 0.25);
  display: flex;
  gap: 0.5ch;
  font: bold 3em monospace;
  transition: --direction 0.3s;
  user-select: none;
  margin: 0;
}

.ClockDisplayLabel:first-child {
  --direction: 1;
}

.ClockDisplayLabel:last-child {
  --direction: -1;
}

@supports (width: calc(1px * sibling-index() / sibling-count())) {
  .ClockDisplayLabel span {
    offset-path: shape(
      from 0.5ch 50%,
      curve to calc(100% - 0.5ch) 50% with 30%
        calc(50% - var(--direction) * var(--curve-intensity)) /
      70% calc(50% - var(--direction) * var(--curve-intensity))
    );
    offset-distance: calc(
      99.9% *
      (sibling-index() - 1) /
      (sibling-count() - 1)
    );
  }
}
