/**
 * 1. Allow for a biome-override of the background and its color.
 */
.Nav {
  --background-color: color-mix(
    in srgb,
    var(--biome-surface, var(--prome-bg)) /* 1 */,
    transparent 40%
  );
  color: var(--biome-text, var(--prome-text)); /* 1 */

  padding: 0 0.5em;
  position: relative;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.1);
}

/**
 * 1. Apply the blurred background with a pseudo-element in order to circumvent
 *    an issue with nested backdrop filters on Chrome. This makes it possible to
 *    also have the blurred background on the dropdown menus.
 */
.Nav::before {
  content: ""; /* 1 */
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  backdrop-filter: blur(8px);
}

/**
 * 1. Just in case for intermediary screens, so it can be scrolled and used.
 */
.Nav__list {
  list-style: none;
  display: flex;
  align-items: stretch;
  -webkit-overflow-scrolling: touch; /* 1 */
}

/**
 * 1. Allow for the submenu to be positioned absolutely.
 */
.Nav__item {
  position: relative; /* 1 */
}

/**
 * 1. Item breakpoint that gets pushed to the far right.
 */
.Nav__item--break {
  margin-left: auto; /* 1 */
}

.Nav__list[data-orientation="horizontal"] > .Nav__item[data-active="true"],
.Nav__list[data-orientation="horizontal"]
  > .Nav__item:has(.Nav__submenu [data-active="true"]) {
  box-shadow: inset 0 -2px 0 0 var(--ant-color-link);
}

.Nav__item:has([data-active="true"]) > .Nav__link,
.Nav__list > .Nav__item[data-active="true"] > .Nav__link {
  color: var(--ant-color-link);
}

/**
 * 1.  Allow for a biome-override of the active background and its color.
 */
[data-orientation="vertical"] [data-active="true"] .Nav__link,
.Nav__submenu [data-active="true"] .Nav__link {
  background-color: light-dark(
    var(--biome-light, var(--prome-surface)) /* 1 */,
    var(--biome-dark, var(--prome-surface)) /* 1 */
  );
  color: var(--biome-text, var(--prome-text)); /* 1 */
}

.Nav__submenu .Nav__item:first-child {
  border-top-left-radius: calc(var(--border-radius) - var(--spacing));
  border-top-right-radius: calc(var(--border-radius) - var(--spacing));
}

.Nav__submenu .Nav__item:last-child {
  border-bottom-left-radius: calc(var(--border-radius) - var(--spacing));
  border-bottom-right-radius: calc(var(--border-radius) - var(--spacing));
}

.Nav__link {
  color: inherit;
  padding: 0.8em 1em;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  border-radius: inherit;
  transition: 250ms ease-in-out;
}

button.Nav__link {
  appearance: none;
  border: 0;
  background: none;
  font: inherit;
}

.Nav__submenu {
  --spacing: 0.25em;
  --submenu-offset: 0.5em;
  --border-radius: 0.5em;

  list-style: none;
  display: flex;
  flex-direction: column;
  padding: var(--spacing);

  position: absolute;
  top: calc(100% + var(--submenu-offset));
  left: 0;
  z-index: 100;
  width: max-content;

  opacity: 0;
  pointer-events: none;

  border-radius: var(--border-radius);
  background-color: var(--background-color);
  backdrop-filter: blur(8px);
}

/**
 * 1. Bridge the gap between the parent link and the submenu to allow hover to
 *    pass through.
 */
.Nav__submenu::before {
  content: ""; /* 1 */
  left: 0;
  right: 0;
  bottom: 100%;
  height: var(--submenu-offset);
  position: absolute;
}

.Nav__item:is(:hover, :focus-within) .Nav__submenu,
.Nav__link:is(:active, :focus) + .Nav__submenu {
  opacity: 1;
  pointer-events: auto;
}

.Nav__link:is(:hover, :focus) {
  background-color: light-dark(rgb(0 0 0 / 0.15), rgb(255 255 255 / 0.2));
  color: inherit;
}

[data-orientation="vertical"] {
  flex-direction: column;
  font-size: 1.15em;

  & .Nav__item--break {
    margin-left: 0;
  }

  & .Nav__submenu {
    opacity: 1;
    pointer-events: auto;
    position: static;
    padding-left: 1em;
  }

  & .Nav__link {
    border-radius: 0.5em;
    text-align: left;
  }

  & .Nav__link,
  & .Nav__submenu {
    width: 100%;
  }
}
