/**
 * 1. Allow for a biome-override of the background and its color.
 */
.NewNavigation {
  --background-color: color-mix(
    in srgb,
    var(--biome-surface, var(--prome-bg)) /* 1 */,
    transparent 40%
  );
  color: var(--biome-text, var(--prome-text)); /* 1 */

  width: 100%;
  padding: 0 0.5em;
  position: relative;
}

/**
 * 1. Apply the blurred background with a pseudo-element in order to circumvent
 *    an issue with nested backdrop filters on Chrome. This makes it possible to
 *    also have the blurred background on the dropdown menus.
 */
.NewNavigation::before {
  content: ""; /* 1 */
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  backdrop-filter: blur(8px);
}

/**
 * 1. Just in case for intermediary screens, so it can be scrolled and used.
 */
.NewNavigation__list {
  list-style: none;
  display: flex;
  align-items: stretch;
  -webkit-overflow-scrolling: touch; /* 1 */
}

/**
 * 1. Allow for the submenu to be positioned absolutely.
 */
.NewNavigation__item {
  position: relative; /* 1 */
}

/**
 * 1. Item breakpoint that gets pushed to the far right.
 */
.NewNavigation__item--break {
  margin-left: auto; /* 1 */
}

.NewNavigation__list:not([data-orientation="vertical"])
  > .NewNavigation__item[data-active="true"],
.NewNavigation__list:not([data-orientation="vertical"])
  > .NewNavigation__item:has(.NewNavigation__submenu [data-active="true"]) {
  box-shadow: inset 0 -2px 0 0 var(--ant-color-link);
}

.NewNavigation__list
  > .NewNavigation__item:has([data-active="true"])
  > .NewNavigation__link,
.NewNavigation__list
  > .NewNavigation__item[data-active="true"]
  > .NewNavigation__link {
  color: var(--ant-color-link);
}

/**
 * 1.  Allow for a biome-override of the active background and its color.
 */
[data-orientation="vertical"] [data-active="true"] .NewNavigation__link,
.NewNavigation__submenu [data-active="true"] .NewNavigation__link {
  background-color: light-dark(
    var(--biome-light, var(--prome-surface)) /* 1 */,
    var(--biome-dark, var(--prome-surface)) /* 1 */
  );
  color: var(--biome-text, var(--prome-text)); /* 1 */
}

.NewNavigation__submenu .NewNavigation__item:first-child {
  border-top-left-radius: calc(var(--border-radius) - var(--spacing));
  border-top-right-radius: calc(var(--border-radius) - var(--spacing));
}

.NewNavigation__submenu .NewNavigation__item:last-child {
  border-bottom-left-radius: calc(var(--border-radius) - var(--spacing));
  border-bottom-right-radius: calc(var(--border-radius) - var(--spacing));
}

.NewNavigation__link {
  color: inherit;
  padding: 0.5em 1em;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  border-radius: inherit;
  transition: 250ms ease-in-out;
}

button.NewNavigation__link {
  appearance: none;
  border: 0;
  background: none;
  font: inherit;
}

.NewNavigation__submenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: var(--spacing);

  --spacing: 0.25em;
  --submenu-offset: 0.5em;
  --border-radius: 0.5em;

  position: absolute;
  top: calc(100% + var(--submenu-offset));
  left: 0;
  z-index: 100;
  width: max-content;
  border-radius: var(--border-radius);

  opacity: 0;
  pointer-events: none;
  background-color: var(--background-color);
  backdrop-filter: blur(8px);
}

.NewNavigation__submenu::before {
  content: "";
  left: 0;
  right: 0;
  bottom: 100%;
  height: var(--submenu-offset);
  position: absolute;
}

.NewNavigation__item:is(:hover, :focus-within) .NewNavigation__submenu,
.NewNavigation__link:is(:active, :focus) + .NewNavigation__submenu {
  opacity: 1;
  pointer-events: auto;
}

.NewNavigation__link:is(:hover, :focus) {
  background-color: light-dark(rgb(0 0 0 / 0.15), rgb(255 255 255 / 0.2));
  color: inherit;
}

[data-orientation="vertical"] {
  flex-direction: column;

  & .NewNavigation__item--break {
    margin-left: 0;
  }

  & .NewNavigation__submenu {
    opacity: 1;
    pointer-events: auto;
    position: static;
    padding-left: 1em;
  }

  & .NewNavigation__link {
    border-radius: 0.5em;
  }

  & .NewNavigation__link,
  & .NewNavigation__submenu {
    width: 100%;
  }
}
