.ThemeToggleButton {
  border: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.ThemeToggleButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
