.ThemeToggleButton {
  border: 1px solid transparent;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
  line-height: 1;
  margin: 0 1em;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  border-bottom: 2px solid transparent;
}

.ThemeToggleButton:not(:disabled):hover,
.ThemeToggleButton:not(:disabled):focus-visible,
.ThemeToggleButton:focus-visible {
  border-bottom-color: currentColor;
}

.ThemeToggleButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}