.EncountersList {
  padding-left: 2em;
  margin: 0;
  list-style: none;
}

.EncountersList__item + .EncountersList__item {
  margin-top: 0.5em;
}

.EncountersList__item {
  position: relative;
}

.EncountersList__item::before {
  font-size: 2em;
  position: absolute;
  right: 100%;
  margin-right: 0.75ch;
  top: 0.05em;
  line-height: 0.6;
  width: 1ch;
  font-family: monospace;
}

.EncountersList__item[data-index="1"]::before { content: '⚀' }
.EncountersList__item[data-index="1 2"]::before { content: '⚀⚁' }
.EncountersList__item[data-index="2"]::before { content: '⚁' }
.EncountersList__item[data-index="2 3"]::before { content: '⚁⚂' }
.EncountersList__item[data-index="3"]::before { content: '⚂' }
.EncountersList__item[data-index="3 4"]::before { content: '⚂⚃' }
.EncountersList__item[data-index="4"]::before { content: '⚃' }
.EncountersList__item[data-index="4 5"]::before { content: '⚃⚄' }
.EncountersList__item[data-index="5"]::before { content: '⚄' }
.EncountersList__item[data-index="5 6"]::before { content: '⚄⚅' }
.EncountersList__item[data-index="6"]::before { content: '⚅' }

.EncountersList__item ul {
  list-style: none;
}

.EncountersList__item a {
  color: inherit;
  text-decoration: underline;
}

.EncountersList__item a:hover {
  color: var(--ant-color-link);
  text-decoration: underline;
}