.EncountersList {
  padding-left: 2em;
  margin: 0;
  list-style: none;
  color: inherit;
}

.EncountersList__item + .EncountersList__item {
  margin-top: 0.5em;
}

.EncountersList__item {
  position: relative;
}

.EncountersList__item::before {
  font-size: 2em;
  position: absolute;
  right: 100%;
  margin-right: 0.75ch;
  top: 0.05em;
  line-height: 0.6;
  width: 1ch;
  font-family: monospace;
  content: attr(data-index);
}

.EncountersList__item ul {
  list-style: none;
}

.EncountersList__item a {
  color: inherit;
  text-decoration: underline;
}

.EncountersList__item a:hover {
  color: var(--ant-color-link);
  text-decoration: underline;
}
