.BiomeBubble {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 10px;
  border-radius: 50%;
  background: var(--biome-light);
  color: var(--biome-light-contrast);
  border: 1px solid var(--biome-dark);
}

@supports (corner-shape: bevel) {
  .BiomeBubble {
    corner-shape: bevel;
    border-radius: 50% / 25%;
    aspect-ratio: cos(30deg);
    height: auto;
  }
}