.BiomeDescription__text {
  font-size: 1.2em;
  line-height: 1.8;
  font-style: italic;
  color: var(--biome-text);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.BiomeDescription__text h3 {
  font-size: 1em;
  margin-top: 1em;
}
