/**
 * 1. Use fixed instead of stick because the header is transparent, so it needs
 *    to be on top of the banner.
 */
.BiomeHeader {
  position: fixed; /* 1 */
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.3s;
  --ant-layout-header-height: 3em !important;
  --ant-layout-header-bg: light-dark(var(--biome-light), var(--biome-dark));
  --ant-layout-header-color: light-dark(var(--biome-light-contrast), var(--biome-dark-contrast));
  --ant-layout-header-padding: 0em;
}

/**
 * 1. Make the header less visible when the page is not scrolled to really put
 *    the focus on the hero and its full-bleed image.
 */
.BiomeHeader[data-scrolled="false"]:not(:is(:hover, :focus-within)) {
  opacity: 0.3; /* 1 */
}

/**
 * 1. Make the header opaque while interacting with a submenu.
 */
body:has(.ant-menu-submenu-popup:not(.ant-menu-submenu-hidden)) .BiomeHeader[data-scrolled="false"] {
  opacity: 1; /* 1 */
}

.BiomeHeader[data-scrolled="true"] {
  background-color: color-mix(var(--biome-surface), light-dark( rgb(255 255 255 / 0.1), rgb(0 0 0 / 0.1)) 70%);
  backdrop-filter: blur(8px);
  box-shadow: 0 1px 0 rgb(255 255 255 / 0.06);
}