.BiomeDescription__text {
  font-size: 1.2em;
  line-height: 1.8;
  font-style: italic;
  color: var(--biome-text);
  display: flex;
  flex-direction: column;
}

.BiomeDescription__text h3 {
  font-size: 1em;
  margin-top: 1em;
}

.BiomeDescription__text h3::before {
  content: "❦";
  margin-right: 1ch;
  color: var(--biome-accent);
}

.BiomeDescription__text ul {
  padding-inline-start: 1.25em;
  list-style-type: disc;
}

.BiomeDescription__text li::marker {
  color: var(--biome-accent);
}

.BiomeDescription__text strong {
  color: var(--biome-accent);
}
