.AudioPlayer__native {
  width: 100%;
}

.AudioPlayer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.AudioPlayer__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AudioPlayer__controlsLeft {
  display: flex;
  gap: 0.5em;
}

.AudioPlayer__trackName {
  color: inherit !important;
}

.AudioPlayer__progressRow {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.AudioPlayer__progress {
  flex: 1;
}

.AudioPlayer__volumeSlider {
  min-width: 100px;
}

.AudioPlayer__progress .ant-slider-rail,
  .AudioPlayer__volumeSlider .ant-slider-rail {
  border: 1px solid light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.1));
}